<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Header&Footer    </title>
</head>
<body>


<header th:fragment="header">
    <h1>Code Fellow Ship</h1>
</header>

<div th:fragment="menu">
    <a href="index" class="active">Home</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
</div>


<footer th:fragment="footer">
    <p>2019 FrontBackend.com</p>
</footer>


</body>
</html>