<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet" />
    <title>Header&Footer    </title>
</head>
<body>


<header th:fragment="header">
    <h1>CodeFellowShip</h1>
</header>

<div class="fragments" th:fragment="menu">
    <a href="/" class="active">Home</a>
    <a href="profile">profile</a>
    <a href="allUsers">Users</a>

    <h3 sec:authentication="name"></h3>

</div>


<footer th:fragment="footer">
    <p>2021 &copy; codefellowship</p>
</footer>


</body>
</html>