<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feed</title>
</head>
<body>




<p>Hello from Feed Page you can see the posts for your following users </p>

<section>
    <h1 th:each="follower:${feed}"> <span th:text="${follower.firstName}"></span></h1>
   <div th:each="eachFollower:${follower.followers}" >


   </div>

</section>


</body>
</html>