<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet" />
    <title>Home Page</title>
</head>
<body>
<header>
    <div class="headerLogin" th:insert="components :: header"></div>
    <div class="menu" th:insert="components :: menu"></div>

</header>

<main>
<h1>Welcome to my website</h1>


<a href="login" sec:authorize="isAnonymous">login here</a>
    <br>
<a href="signup" sec:authorize="isAnonymous">Sign up here</a>

</main>

<footer>
    <div th:insert="components :: footer"></div>
</footer>


</body>
</html>