<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet" />
    <title>profile</title>
</head>
<body>

<header>
    <div class="headerLogin" th:insert="components :: header"></div>
    <div class="menu" th:insert="components :: menu"></div>


</header>

<main>
<h2>Welcome to profile page</h2>
<div>
<tr>

    <td th:text="${userName.firstName}"></td>
    <br>
    <td th:text="${userName.lastName}"></td>
    <br>
    <td th:text="${userName.dateOfBirth}"></td>
    <br>
    <td th:text="${userName.bio}"></td>
    <br>


</tr>
</div>

    <br>
    <br>

    <div>

        <form action="/post" method="post" style="width: 25rem;margin: 20px;">
            <div class="form-group">
                <label for="body">Body</label>
                <input class="form-control" type="text" id="body" name="body">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<!--<div>-->

<!--    <form action="/post" method="post" style="width: 25rem;margin: 20px;">-->
<!--        <div class="form-group">-->
<!--            <label for="body">Body</label>-->
<!--            <input class="form-control" type="text" id="body" name="body">-->

<!--        </div>-->

<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->
<!--    </div>-->
<!--    <div>-->
<!--        <h3 style="margin-left:10px;"> Your Posts : </h3>-->
<!--        <div class="list-group">-->
<!--            <ul th:each="post : ${posts}" style="width: 70%;">-->
<!--                <li >Post :<span th:text="${post.body}"></span></li>-->
<!--                <li >Time :<span th:text="${post.createdAt}"></span></li>-->

<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->




</main>

<footer>

    <div th:insert="components :: footer"></div>
</footer>



</body>
</html>