<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>profile</title>
</head>
<body>

<h2>Welcome to profile page</h2>

<tr th:each="ApplicationUser :${userName}">

    <td th:text="ApplicationUser.firstName"></td>
    <br>
    <td th:text="ApplicationUser.lastName"></td>
    <br>
    <td th:text="ApplicationUser.dateOfBirth"></td>
    <br>
    <td th:text="ApplicationUser.bio"></td>
</tr>




</body>
</html>